{% extends 'base.html' %}

{% block title %}
    Главная
{% endblock %}
{% block content %}
    <div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-light">
        <div class="col-md-5 p-lg-5 mx-auto my-5">
            <h6 class="display-6 fw-normal">Мы производим профессиональные системы освещения для различных объектов инфраструктуры</h6>
        </div>
        <p class="lead fw-normal">
            Мы предоставляем качественные решения для вашего бизнеса с 2006 года.
        </p>
    </div>
{% endblock %}