{% extends 'base.html' %}

{% block title %}
    Вход
{% endblock %}
{% block content %}
    <form action="" method="post">
    {{ form.hidden_tag() }}
        <div class="container">
            {% if form.errors %}
                {% for field, messages in form.errors.items() %}
                    <div class="alert alert-danger">
                        {{ ', '.join(messages) }}
                    </div>
                {% endfor %}
            {% endif %}

            <div class="form-group">
              {{ form.email.label }}
              {{ form.email(class="form-control") }}
              {% for error in form.email.errors %}
                  <div class="invalid-feedback">
                    {{ error }}
                  </div>
              {% endfor %}
          </div>

          <div class="form-group">
              {{ form.password.label }}
              {{ form.password(class="form-control") }}
              {% for error in form.password.errors %}
                  <div class="invalid-feedback">
                    {{ error }}
                  </div>
              {% endfor %}
          </div>

          <div class="container mt-3"><button type="submit" class="btn btn-primary">Submit</button></div>
        </div>
    </form>
{% endblock %}